
@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('/assets/images/1282794.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.input-group-prepend span {
    width: 50px;
    background-color: #178bb9;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: black;
    background-color: rgb(61, 198, 207);
    width: 300px;
    position: relative;
    right: 30px;
    font-weight: bold;
}

    .login_btn:hover {
        color: black;
        background-color: rgb(14, 112, 119);
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }
